@use '../helpers' as *;

// .hero {
//   position: relative;
//   display: flex;
//   min-height: 100vh;
//   padding-top: 0;

//   &__container {
//     flex: 1 1 auto;
//     position: relative;
//     z-index: 2;

//     @include adaptive-clamp('padding-top', 200, 90);
//     @include adaptive-clamp('padding-bottom', 200, 40);
//   }

// }

.hero {
  position: relative;

  &__container {
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @media (max-width: em(750)) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 740px;
    padding-top: 218px;
    padding-left: 80px;

    @media (max-width: em(1300)) {
      max-width: 400px;
    }

    @media (max-width: em(750)) {
      padding-top: 117px;
      padding-left: 0;
    }
  }

  &__metrics {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__header {
    margin-bottom: 112px;
  }

  &__title {
    @media (max-width: em(1300)) {
      max-width: 400px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    font-family: var(--second-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__image {
    display: flex;
    column-gap: 40px;
  }

  &__img {
    // align-self: start;
    margin-top: 121px;

    @media (max-width: em(1300)) {
      width: 220px;
      height: 294px;
      margin-top: 118px;
      margin-right: 9px;
    }

    @media (max-width: em(750)) {
      margin-top: -92px;
      margin-left: auto;
    }
  }

  &__img--small {
    align-self: center;
    margin-top: 193px;

    @media (max-width: em(1300)) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 62px;
    padding-left: 80px;

    @media (max-width: em(750)) {
      margin-top: 60px;
      padding-left: 0;
    }
  }

  &__button {
    @media (max-width: em(750)) {
      visibility: hidden;
    }
  }

  &__text {
    max-width: 220px;
    text-align: right;

    @media (max-width: em(1300)) {
      margin-right: 9px;
    }
  }
}

.metrics {
  display: flex;
  align-items: center;
  column-gap: 55px;

  @media (max-width: em(1300)) {
    column-gap: 72px;
  }

  @media (max-width: em(767.98)) {
    column-gap: 55px;
  }

  &__item {
    width: 143px;
  }

  &__quantity {
    font-family: var(--second-family);
    font-size: 48px;
    font-weight: 300;
    line-height: 1.125;
    text-align: left;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__descr {
    text-align: right;
  }
}
