@use '../helpers' as *;

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--color-dark);
  background-color: var(--color-white);

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: em(1024)) {
      flex-direction: column;
    }
  }

  &__col {
    flex: 0 1 440px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: em(1024)) {
      flex: 0 1 100%;
    }
  }

  &__block--hidden {
    @media (max-width: em(1024)) {
      display: none;
    }
  }

  &__img {
    height: auto;
    margin: 0 auto;

    @media (max-width: em(1024)) {
      width: 100%;
    }
  }
}
