@use '../helpers' as *;

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  &__header {
    max-width: 360px;
    margin-bottom: 40px;

    @media (max-width: em(400)) {
      max-width: 345px;
    }
  }
}
