@use 'helpers' as *;

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--main-color);
  background-color: var(--color-bg-body);

  &.lock {
    touch-action: none;
    overflow: hidden;
  }

  // @media (max-width: em(767.98)) {
  //   font-size: var(--font-size-mobile);
  // }
}

.wrapper {
  overflow: hidden; //  Поменять на clip - если используется в проекте position: sticky
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & main {
    flex: 1 1 auto;
  }
}

h1,
.h1 {
  font-family: var(--second-family);
  font-size: 116px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--color-white);

  @media (max-width: em(1300)) {
    font-size: 68px;
    line-height: 1.1;
  }

  @media (max-width: em(450)) {
    font-size: 56px;
    line-height: 1.14;
  }

  @media (max-width: em(360)) {
    font-size: 46px;
  }
}

h2,
.h2 {
  font-family: var(--second-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  @include hover {
    color: var(--color-orange);
  }
}

// :focus-visible {
//   // в момент фокусировки с клавиатуры
//   outline: rem(2) dashed var(--color-white);
//   outline-offset: rem(4);
//   transition-duration: 0s !important;
// }

// .disabled {
//   opacity: 0.5;
//   cursor: default;
//   pointer-events: none; // запрещаем взаимодействие
// }

// a,
// button {
//   &[aria-label] {
//     position: relative;

//     &::before {
//       width: 44px;
//       height: 44px;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       translate: -50% -50%;
//       content: '';
//     }
//   }
// }
