@use 'helpers' as *;

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover,
  &:visited {
    text-decoration: none;
  }
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

p {
  &:not(:last-child) {
    --paragraph-margin-bottom: 10px;

    margin-bottom: var(--paragraph-margin-bottom);
  }
}
